#mbmcpebul_table {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
}

#mbmcpebul_table li a {
  line-height: 15px;
  font-size: 12px;
  font-family: "Segoe UI",sans-serif;
  text-decoration: none;
  color: #666666;
  font-style: normal;
  font-weight: normal;
  padding: 6px 19px 6px 19px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

#mbmcpebul_table li div.buttonbg {
  height: 27px;
  width: 105px;
  line-height: 0;
  background-color: #F5F5F5;
  border-style: solid;
  border-color: transparent #FFFFFF #D7D7D7 #FFFFFF;
  border-width: 0 0 5px 1px;
  border-radius: 0;
  padding: 0;
  box-shadow: 0 0 0 0 transparent;
  text-align: center;
}

#mbmcpebul_table li:hover div.buttonbg a, #mbmcpebul_table li.expanded a.topitem, #mbmcpebul_table li.active a.topitem,
#mbmcpebul_table li.itemhot a.topitem, #mbmcpebul_table li a:hover {
  color: #666666;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}


#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  background-color: #F5F5F5;
  box-shadow: 0 0 0 0 transparent, 0 0 3px 0 #FFFFFF inset;
  border-color: #D7D7D7 #D7D7D7 #FF9900 #FFFFFF;
}

#mbmcpebul_table {
  padding: 1px;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  background-color: #D7D7D7;
  box-shadow: none;
  border-collapse: separate;
}

#mbmcpebul_table ul li a {
  color: #666666;
  font-family: "Segoe UI",sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
}

#mbmcpebul_table ul li:hover > a {
  color: #666666;
  font-family: "Segoe UI",sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li.subexpanded a.subexpanded, #mbmcpebul_table ul li.subitemhot a.subitemhot, #mbmcpebul_table ul li a:hover {
  color: #666666;
  font-family: "Segoe UI",sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li:hover, #mbmcpebul_table ul li.subexpanded, #mbmcpebul_table ul li.subitemhot {
  border-color: #FFFFFF;
  background-color: #F5F5F5;
  box-shadow: none;
}

#mbmcpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  padding: 1px;
  background: #FFFFFF;
  font-size: 0;
  border-radius: 0;
}

#mbmcpebul_table ul li a {
  padding: 6px 14px 6px 12px;
  text-align: left;
}

#mbmcpebul_table ul li.separator {
  padding: 6px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbmcpebul_table ul li.separator div {
  border-top: 1px solid #FFFFFF;
  font-size: 0px;
}

#mbmcpebul_table ul li {
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 1px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: #F5F5F5;
}

#mbmcpebul_table ul li.last_item {
  margin-bottom: 0;
}


#mbmcpebul_table ul {
  box-shadow: 1px 1px 7px -2px #999999;
}

#mbmcpebul_table .spaced_li {
  margin: 0px 1px 0px 0px;
}

#mbmcpebul_table a img {
  border: none;
}

#mbmcpebul_table li {
  list-style: none;
  float: left;
}

#mbmcpebul_table.css_menu li {
  position: relative;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbmcpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mbmcpebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mbmcpebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbmcpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbmcpebul_table .submenu_arrow {
  margin-left: 8px;
}

#mbmcpebul_table div.arrow { 
  background-image: url(ebab_mbmcp_d.gif); 
  background-repeat: no-repeat; 
  background-position: right center; 
  height: 100%; 
} 

#mbmcpebul_table ul li a.with_arrow { 
  background-image: url(ebab_mbmcp_c.gif); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 18px; 
} 

#mbmcpebul_table li:hover div.gradient32, #mbmcpebul_table li.expanded div.gradient32, #mbmcpebul_table li.active div.gradient32, #mbmcpebul_table li.itemhot div.gradient32 { 
  background-image: url('buttonhot_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #FFFFFF; 
} 

#mbmcpebul_table li:hover div.gradient_button, #mbmcpebul_table li.expanded div.gradient_button, #mbmcpebul_table li.active div.gradient_button, #mbmcpebul_table li.itemhot div.gradient_button { 
  background: -moz-linear-gradient(top, #E4E4E4 0%, #FFFFFF 100%); 
  background: -webkit-linear-gradient(top, #E4E4E4 0%, #FFFFFF 100%); 
  background: -ms-linear-gradient(top, #E4E4E4 0%, #FFFFFF 100%); 
  background: linear-gradient(top, #E4E4E4 0%, #FFFFFF 100%); 
} 

#mbmcpebul_table ul li.gradient27:hover, #mbmcpebul_table ul li.gradient27.subexpanded, #mbmcpebul_table ul li.gradient27.subitemhot { 
  background-image: url('menuitemhot_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #E4E3E3; 
} 

#mbmcpebul_table ul li.gradient_menuitem:hover, #mbmcpebul_table ul li.gradient_menuitem.subexpanded, #mbmcpebul_table ul li.gradient_menuitem.subitemhot { 
  background: -moz-linear-gradient(top, #F6F6F5 0%, #E4E3E3 100%); 
  background: -webkit-linear-gradient(top, #F6F6F5 0%, #E4E3E3 100%); 
  background: -ms-linear-gradient(top, #F6F6F5 0%, #E4E3E3 100%); 
  background: linear-gradient(top, #F6F6F5 0%, #E4E3E3 100%); 
} 

#mbmcpebul_table li a.button_2, #mbmcpebul_table li div a.button_2 { 
  padding-right: 34px; 
} 

